@{
    ViewData["Title"] = "Activities";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/activities.css">
    <title>@ViewData["Title"] Activities</title>
</head>

<body>

    <!-- products section starts  -->

<section class="products" id="products">

    <h1 class="heading"> View <span>Activities</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="/Images/aerosports.jpeg" alt="">
                <div class="icons">
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/Images/arcade.jpeg" alt="">
                <div class="icons">
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/Images/junglegym.jpeg" alt="">
                <div class="icons">
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/Images/park.jpeg" alt="">
                <div class="icons">
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/Images/pool.jpeg" alt="">
                <div class="icons">
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/Images/reading.jpeg" alt="">
                <div class="icons">
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/Images/rockclimbing.jpeg" alt="">
                <div class="icons">
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/Images/scavengerhunt.jpeg" alt="">
                <div class="icons">
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/Images/waterpark.jpeg" alt="">
                <div class="icons">
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

    </div>

</section>

<!-- prodcuts section ends -->

    
    
</body>
</html>
