@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/home.css">
    <title>Home Page</title>
</head>

<body>
    <!-- home section starts  -->

<div class="home-container">

    <section class="home" id="home">

        <div class="content">
            <h3>Play Pals</h3>
            <span> Building Bonds, Boosting Social Skills – Where Every Playdate Counts! </span>
            <p>PlayPals cultivates friendships among children through tailored matches and real-time playdate suggestions, promoting social skills development and alleviating socialization challenges kids.</p>
            <a asp-area="" asp-controller="Home" asp-action="Signup" class="btn">Sign up now</a>
        </div>
        
    </section>

</div>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> about </span> us </h1>

    <div class="row">

        <div class="image-container">
            <img src="/Images/playingkids.jpeg">
        </div>

        <div class="content">
            <h3>why choose us?</h3>
            <p>Our application uniquely addresses the needs of guardians seeking social connections for their children, particularly those who are home-schooled or have experienced reduced socialization due to the COVID-19 pandemic. By offering a tailored matching system, real-time playdate suggestions, and event recommendations, PlayPals not only tackles the challenges of social isolation but also provides an innovative and effective solution to enhance children's socialization opportunities, ensuring they can build meaningful connections and enjoy shared activities with like-minded peers.</p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>

<!-- about section ends -->
</body>

</html>