body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2{
font-size: 28px;
}

#welcome{
    font-size: 39px;
}

input{
align-items: center;
}
.container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    background-color: #d31430;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side {
flex: 1;
display: flex;
flex-direction: column; 
align-items: center;
justify-content: center;
padding: 40px; 
}

.login-form {
background-color: #fff;
padding: 40px; 
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 400px; 
}

.form-group {
margin-bottom: 30px; 
}


.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.container {
display: flex;
}

.left-side, .right-side {
flex: 1;
}

.left-side {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.logo-container, .text-container {
text-align: center;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="submit"] {
width: calc(100% - 20px); 
padding: 10px;
border: 1px solid #ccc;
border-radius: 3px;
margin-bottom: 10px;
font-size: 19px; 

}

.form-group input[type="submit"] {
background-color: #007bff;
color: #fff;
cursor: pointer;
}
